@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: local('../fonts/Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'palladium';
    src:  url('../fonts/palladium.eot?xzrnmg');
    src:  url('../fonts/palladium.eot?xzrnmg#iefix') format('embedded-opentype'),
      url('../fonts/palladium.ttf?xzrnmg') format('truetype'),
      url('../fonts/palladium.woff?xzrnmg') format('woff'),
      url('../fonts/palladium.svg?xzrnmg#palladium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="icon-"], [class*=" icon-"] {
    font-family: 'palladium' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow:before {
    content: "\e900";
  }
  .icon-clip:before {
    content: "\e901";
  }
  .icon-logo:before {
    content: "\e902";
  }
  .icon-marker:before {
    content: "\e903";
  }
  .icon-phone:before {
    content: "\e904";
  }
  

$red-c: #EB5757;
$green-c: #219653;
$blue-c: #2F80ED;
$purple-c: #9B51E0;

body {
    font-size: 16px;
    position: relative;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

.center {
    text-align: center;
}

.btn-link {
    text-decoration: none;
    color: #222;
    color: #222;
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    background: none;
    cursor: pointer;
    line-height: 20px;
    padding: 10px 48px;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid rgba(#222, .3);

    &:after {
        content: '';
        width: 20px;
        height: 1px;
        position: absolute;
        background: #222;
        top: 50%;
        left: -10px;
    }
}

.btn-link-dotted {
    color: #222222;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px dotted #222222;
}

.circle-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgba(#fff, .3);
    font-size: 15px;
}

.no-link {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
}

.header {
    position: relative;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-out;
    background: #fff;

    &.header-red,
    &.header-green,
    &.header-blue,
    &.header-purple {
        background-size: cover !important;

        .header-nav,
        .nav-marker,
        .nav-phone {
            border-color: rgba(#fff, .3);
        }
        .nav-menu__item a,
        .nav-logo {
            color: #fff;
        }
        .nav-menu__item.active a {
            color: #fff;
            border-color: #fff;
        }
        .header-services {
            background: none;
        }
        .header-title h1 {
            color: #fff;

            span {
                -webkit-text-stroke-color: #fff;
            }
        }

        .btn-link {
            color: #fff;
            border-color: rgba(#fff, .3);

            &:after {
                background-color: #fff;
            }
        }
    }

    &.header-red {
        background: url(../image/service-1.jpg?quality=90) no-repeat;
    }

    &.header-green {
        background: url(../image/service-2.jpg?quality=90) no-repeat;
    }

    &.header-blue {
        background: url(../image/service-3.jpg?quality=90) no-repeat;
    }

    &.header-purple {
        background: url(../image/service-4.jpg?quality=90) no-repeat;
    }
}

.header-nav {
    z-index: 2;
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        .nav-menu__item {
            margin-right: 50px;

            &--margin {
                margin-right: 132px;
            }
        }
    }

    &__right {
        .nav-menu__item {
            margin-left: 50px;

            &--margin {
                margin-left: 132px;
            }
        }
    }
}

.nav-logo {
    width: 86px;
    height: 86px;
    text-decoration: none;
    color: #222222;
    display: block;
    font-size: 30px;
    line-height: 86px;
    text-align: center;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        display: inline-block;

        a {
            text-decoration: none;
            color: inherit;
            font-size: 14px;
            font-family: 'Gilroy', sans-serif;
            line-height: 81px;
            color: rgba(#222222, .7);
            display: block;
            border-bottom: 1.5px solid transparent;
        }

        &:hover a,
        &.active a {
            color: #222;
            border-bottom: 1.5px solid #222;
        }

        .nav-phone,
        .nav-marker {
            width: 86px;
            line-height: 86px;
            text-align: center;
            font-size: 18px;
            color: #222;
            border-bottom: none !important;
        }
        .nav-marker {
            border-right: 1px solid #EBEBEB;
        }

        .nav-phone {
            border-left: 1px solid #EBEBEB;
        }
    }
}

.header-title {
    text-align: center;
    z-index: 2;

    h1{
        text-align: center;
        font-size: 64px !important;
        line-height: 72px !important;
        letter-spacing: 0;
        color: #222;
        margin: 0;
        font-family: 'Gilroy', sans-serif;
        position: relative;
        margin: 0 0 48px;

        span {
            color: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #222;
        }
    }
}

.header-services {
    width: 100%;
    min-height: 344px;
    position: relative;
    background: url(../image/main.jpg?quality=90) no-repeat;
    background-size: cover;
    z-index: 1;
    transition: all .15s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    .circle-link {
        margin: 23.5px 0 22.5px;
    }
}
.service {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 172px;
}

.service-item {
    width: 100%;
    text-align: center;
    position: relative;
    border: 1px solid rgba(#fff, .3);
    border-left: none;
    margin-left: -1px;
    overflow: hidden;
    
    &__title {
        color: #fff;
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        z-index: 10;
        position: relative;
        display: block;
        margin: 30px 0;
        transition: all .15s ease-out;
    }

    &__body {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        z-index: 15;
        transform: translateY(0);
        opacity: 0;
        transition: all .15s ease-out;

        p {
            max-width: 240px;
            line-height: 24px;
            font-size: 14px;
            color: #fff;
            display: block;
            margin: 0 auto;
        }

        .circle-link {
            margin: 33px 0 0;
            transform: rotate(-90deg) translateX(-11px);
        }
    }

    &__bg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        z-index: -1;
        transition: all .15s ease-out;
    }

    &:hover {
        overflow: visible;
        border: 0;

        .service-item__title {
            transform: translateY(-165px);
        }

        .service-item__body {
            opacity: 1;
            transform: translateY(-97px);
        }

        .service-item__bg {
            opacity: 1;
            z-index: 2;
        }
    }
}

.red-color {
    .service-item__bg {
        background-color: $red-c;
    }
    &:hover {
        background: $red-c;
    }
}

.green-color {
    .service-item__bg {
        background-color: $green-c;
    }
    &:hover {
        background: $green-c;
    }
}

.blue-color {
    .service-item__bg {
        background-color: $blue-c;
    }
    &:hover {
        background: $blue-c;
    }
}

.purple-color {
    .service-item__bg {
        background-color: $purple-c;
    }
    &:hover {
        background: $purple-c;
    }
}

.section-title {
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: 0;
    color: #222;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    position: relative;
    margin: 140px 0 50px;

    &:before {
        content: '';
        width: 40px;
        height: 1px;
        background: #222;
        position: absolute;
        top: 17px;
        left: -80px;
    }

    span {
        color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #222;
    }
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: minmax(270px, 550px);
    margin-bottom: 65px;
}

.portfolio-item {
    min-height: 270px;
    position: relative;
    
    h4 {
        color: #fff;
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin: 32px 0 0 32px;
        position: relative;
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.1);
    }

    &--1 {
        grid-area: 1 / 1 / 2 / 3;
        background: url(../image/portfolio-1.jpg?quality=90) no-repeat;
        background-size: 100%;
    }

    &--2 {
        grid-area: 1 / 3 / 3 / 4;
        background: url(../image/portfolio-2.jpg?quality=90) no-repeat;
        background-size: 100%;
    }

    &--3 {
        grid-area: 2 / 1 / 3 / 2;
        background: url(../image/portfolio-3.jpg?quality=90) no-repeat;
        background-size: 100%;
    }

    &--4 {
        grid-area: 2 / 2 / 3 / 3;
        background: url(../image/portfolio-4.jpg?quality=90) no-repeat;
        background-size: 100%;
    }

    &--5 {
        grid-area: 3 / 1 / 5 / 2;
        background: url(../image/portfolio-5.jpg?quality=90) no-repeat;
        background-size: 100%;
    }

    &--6 {
        grid-area: 3 / 2 / 4 / 3;
        background: url(../image/portfolio-6.jpg?quality=90) no-repeat;
        background-size: 100%;
    }

    &--7 {
        grid-area: 3 / 3 / 4 / 4;
        background: url(../image/portfolio-7.jpg?quality=90) no-repeat;
        background-size: 100%;
    }

    &--8 {
        grid-area: 4 / 2 / 5 / 4;
        background: url(../image/portfolio-8.jpg?quality=90) no-repeat;
        background-size: 100%;
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    align-content: start;

    &-item {
        flex: 1 1 auto;
        max-width: 360px;
    }
}

.adress-item {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
    h5 {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
        line-height: 20px;   
        margin-bottom: 10px;
    }
    p {
        font-size: 13px;
        line-height: 24px;   
    }
    .social-link {
        display: inline-block;
        background: #222;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.form-group {
    margin-bottom: 20px;
    padding-top: 7px;

    label {
        font-size: 9px;
        font-weight: 500;
        line-height: 12px;
        display: block;
    }
    input[type=text] {
        display: block;
        width: 100%;
        padding: 3px 0;
        border: none;
        border-bottom: 1px solid #EBEBEB;
        font-size: 13px;
        line-height: 24px;
        outline: none;
    }
}

.form-upload {
    position: relative;

    .file-label {
        position: absolute;
        width: 18px;
        height: 18px;
        line-height: 1;
        text-align: center;
        font-size: 18px;
        color: #909090;
        right: 0;
        top: 25px;
        cursor: pointer;
        z-index: 1;
    }
    input[type=file] {
        display: none;
    }
}

.form-agree {
    margin-bottom: 33px;
    p {
        font-size: 9px;
        line-height: 12px;
        font-weight: 500;
        color: #909090;
    }
}

.footer {
    border-top: 1.5px solid #222;
    padding: 24px 0;
    margin-top: 135px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    .bold {
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
    }
}